<h1>Sign Up!</h1>

<!-- <form accept-charset="UTF-8" action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	Username: <br>
	<input type="text" name="user[username]"><br>
	Email: <br>
	<input type="text" name="user[email]"><br>
	Password: <br>
	<input type="text" name="user[password]"><br>
	Password Confirmation: <br>
	<input type="text" name="user[password_confirmation]"><br>
	<input type="submit" value="submit">
</form> -->




<%= form_for(@user) do |f| %>
	<%= f.label :username %>
	<%= f.text_field :username %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.text_field :password %>

	<%= f.label :password_confirmation %>
	<%= f.text_field :password_confirmation %>

	<%= submit_tag("Create my account") %>

<% end %>